{% extends 'base.html' %}

{% block body %}
<header>
  <div class="global-header">
    <div class="container">
      <div class="col-xs-12">
        <a href="http://www.cam.ac.uk/" class="navbar-brand"><img class="logo logo-sm" alt="University of Cambridge" src="http://people.ds.cam.ac.uk/wac26/campl-ng/images/logo.png"></a>
      </div>
    </div>
  </div>
  <div class="local-header">
    <div class="container p-a" style="position: relative;">
      <ul class="list-unstyled" id="top-links" style="position: absolute; top:10px; right: 10px;">
        <li>> <a href="../login/">Log out</a></li>
        <li>> <a href="../login/">Help and Guidance</a></li>
      </ul>
      <p class="title">
        Referee Portal
       </p>
    </div>
  </div>
  <div class="local-header subtitle">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="p-a">
            <h1 class="app">{{ subtitle }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="col-md-12">
      {% block progress %}{% endblock %}
      {% if error %}
      <div class="alert alert-danger alert-top alert-dismissable" role="alert">
        <div class="close pull-right" data-dismiss="alert">&times;</div>
        <div class="row">
          <div class="col-md-4">
            <span class="fa fa-exclamation-triangle"></span>
            <span>{{ error.title }}:</span>
          </div>
          <div class="col-md-8">
            {{ error.message }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if save %}
      <div class="alert alert-success alert-top alert-dismissable" role="alert">
        <div class="close pull-right" data-dismiss="alert">&times;</div>
        <div class="row">
          <div class="col-md-4">
            <span class="fa fa-check-circle"></span>
            <span>Saved:</span>
          </div>
          <div class="col-md-8">
            You have succesfully saved the information
          </div>
        </div>
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
</main>
<footer>
  <div class="local-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>This application is provided and managed by the <a href="http://www.admin.cam.ac.uk">Unified Administrative Service</a>.</p>
          <p>&copy; 2015 University of Cambridge</p>
        </div>
        <div class="col-md-4">
          <p class="text-muted">Version 0.4.0-SNAPSHOT (20150924-1109)</p>
          <p class="bg-danger">This is a DEVELOPMENT version of the system</p>
        </div>
        <div class="col-md-3">
          <h3><a href="/">Privacy and Cookie Policy</a></h3>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
$(document).ready(function() {
  $('form.checkme').areYouSure();
});
</script>
{% endblock %}