{% macro field_label(label, id, mandatory) %}
  <label for="{{ id }}">{% if mandatory %}<span class="fa fa-fw fa-circle-o"></span>{% else %}<span class="fa fa-fw"></span>{% endif %}{{ label }}{% if not mandatory %} <small>(Optional)</small>{% endif %}:</label>
{% endmacro %}

{% macro text_input(label, id, help_text=false, mandatory=true) %}
{% from _self import field_label %}
<fieldset class="form-group">
  {{ field_label(label, id, mandatory) }}
  <input type="text" class="form-control" id="{{ id }}" name="{{ id }}"{% if mandatory %} data-mandatory{% endif %}>
  {% if help_text %}<span class="text-muted">{{ help_text }}</span>{% endif %}
</fieldset>
{% endmacro %}

{% macro saveandnext(next) %}
<div class="row">
  <div class="col-md-12">
    <hr>
    <div class="p-x p-b clearfix">
      <a href="{{ next }}?save" class="btn btn-primary btn-cta pull-right">Save and Next</a>
      <a href=".?save" class="btn btn-secondary pull-right" style="margin-right: 10px;">Save</a>
    </div>
  </div>
</div>
{% endmacro %}

{% macro select_input(label, id, options, help_text=false, mandatory=true) %}
{% from _self import field_label %}
<fieldset class="form-group">
  {% if label %}
    {{ field_label(label, id, mandatory) }}
  {% endif %}
  <select class="form-control c-select" id="{{ id }}" name="{{ id }}"{% if mandatory %} data-mandatory{% endif %}>
  {% for option in options %}
    <option>{{ option }}</option>
  {% endfor %}
  </select>
</fieldset>
{% endmacro %}

{% macro modal(title, id, body, ok_link, ok_text, cancel_text) %}
<div class="modal fade" id="{{ id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ cancel_text }}</button>
        <a href="{{ ok_link }}" class="btn btn-primary btn-cta">{{ ok_text }}</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro applicant_info(field, value) %}
<div class="col-sm-3">
  <div class="row">
    <div class="col-xs-5">
      <strong>{{ field }}:</strong>
    </div>
    <div class="col-xs-7">
      {{ value|raw }}
    </div>
  </div>
</div>
{% endmacro %}