{% extends 'app.html' %}

{% block progress %}
{% include 'progress.html' %}
{% endblock %}

{% from 'macros.html' import text_input, saveandnext, select_input, applicant_info, applicant_info2 %}

{% block content %}
<style type="text/css">
  table.m-b-0 th {
    text-align: right;
  }
</style>

{% if missing_fields %}
<div class="alert alert-danger alert-top" role="alert">
  <div class="row">
    <div class="col-md-4">
      <span class="fa fa-exclamation-circle"></span>
      <span>Missing fields:</span>
    </div>
    <div class="col-md-8">
      Please complete the highlighted fields in order to submit your reference.
    </div>
  </div>
</div>
{% endif %}

<h2>Applicant details</h2>

<div class="well row p-b-0">
  {{ applicant_info2('Applicant name', 'Miss Sarah Williams<br><a href="mailto:fred@blogs.com">fred@blogs.com</a>') }}
  {{ applicant_info2('Course', 'MPhil in Development Studies<br><a href="/" class="secondary-cta">Prospectus link</a>') }}
  {{ applicant_info2('Application number', '12345678') }}
  {{ applicant_info2('Application date', '18 August 2015') }}
</div>




{% endblock %}
