<div class="row">
  <div class="col-md-12">
    <div class="nav-stages-wrapper">
      <ul class="nav nav-pills nav-stages" role="tablist">
        <li class="nav-item">
          <a class="nav-link{% if current=='overview' %} active{% endif %}" href="../overview">Overview <span class="fa fa-fw fa-lg fa-check-circle-o" style="color:#48F700;"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current=='reference' %} active{% endif %}" href="../reference">Supply Reference <span class="fa fa-fw fa-lg"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if current=='review' %} active{% endif %}" href="../review">Review and Submit <span class="fa fa-fw fa-lg"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
