{% extends 'app.html' %}

{% block content %}
<div class="alert alert-success alert-top" role="alert">
  <div class="row">
    <div class="col-md-4">
      <span class="fa fa-check-circle"></span>
      <span>Success:</span>
    </div>
    <div class="col-md-8">
      Reference Submitted
    </div>
  </div>
</div>
<div class="p-a">
  <p>Thank you for submitting your reference using the referee portal.</p>
  <p>A confirmation email has been sent to you and the applicant.</p>
</div>
{% endblock %}